.hero-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.whiteArrow {
  color: white;
}

.bookingButton {
  border-right: hsla(0, 14%, 82%, 1) !important;
  border-bottom: hsla(0, 14%, 82%, 1) !important;
}
.bookingButton:hover {
  transform: scale(1.1);
  transition: 0.2s;

  cursor: pointer;
}
.test2 {
  display: flex;
  flex-direction: row !important;

  width: 100%;

  justify-content: space-between;
}

.menuContainer {
  display: flex;
  flex-direction: column;

  justify-content: space-around;

  gap: 20px;

  align-items: center;
}

.menuItems {
  display: flex;
  justify-content: space-between;
}

.customdiv {
  position: relative;

  padding-top: 20px;
}

#svgg {
  position: absolute;
  bottom: 0px;
  right: 10%;
}

@media screen and (min-width: 641px) {
  .menuContainer {
    flex-direction: row;
  }
}

@media screen and (min-width: 1008px) {
  .bigContainer {
    display: flex;
  }

  #whiteArrow {
    display: none;
  }
}

a {
  text-decoration: none;
}
